body {
    background-image: url('theatre26.jpg');
    color: black;
}

h1 {
    font-size: 70px;
}

body h3 {
    font-size: 40px;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: end;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(155, 159, 148);
       
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    display: block;
    
}

.navbar li:hover {
    background-color: chocolate;
}

#introduction p {
    font-size: larger;

}

#recipes h2 {
    font-size: xx-large;
}

#recipes p {
    font-size: larger;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}

#recipes img {
    max-width: 20%;
    max-height: 20%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    
}

#recipedetail {
    list-style: none;
    box-shadow: 5px 5px 20px chocolate;
    height: 300px;
}

#recipeingredient li {
    list-style: none;
    
}

#socialmediaicons {
    color: black;
    font-size: x-large;
}

#socialmediaicons iconify-icon {
    margin: 10px;
}

#footer a {
    color: black;
    float: left;
    font-size: x-large;
    font-weight: bolder;
    width: 25%;
    background-color: rgb(155, 159, 148);
}

#recipes {
    overflow: auto;
    margin: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;

}

#ingredients {
    list-style: none;
    padding: 15px;
    font-size: large;
    
}

#measurements {
    list-style: none;
    padding: 15px;
    font-size: large;
}

#recipes p:hover {
    background-color: chocolate
}
