body {
   background-color: rgb(227, 227, 205);


}

h1 {
    font-size: 70px;
}

body h3 {
    font-size: 40px;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: end;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(155, 159, 148);
       
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    display: block;
    
}
.navbar li:hover {
    background-color: chocolate;
}

#introduction p {
    font-size: larger;
}

#recipes h2 {
    font-size: xx-large;
}

#recipes p {
    font-size: larger;
}

#recipes img {
    max-width: 20%;
    max-height: 20%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    
    

}


#recipes p {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    
    
}

#recipedetail {
    list-style: none;
}
/* #recipes button{
    color: aqua;

} */